{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" required>
                <option disabled selected value>Symbol</option>

                {% for row in rows %}
                    <option value="{{ row.symbol }}" data-total-shares="{{ row.total_shares }}">{{ row.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1" required />
        </div>
        <button class="btn btn-dark" type="submit">Sell</button>
    </form>
{% endblock %}